body {
  background-color: #666666;
  font-size: 10px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  letter-spacing: 0.5px;
  color: #EEEEEE;
  padding: 0;
  margin: 0;
  text-align: center;
}

html, body {
  min-height:100.1%;
}

a {
  color: #eeeeee;
  text-decoration:none;
}

a:hover {
  text-decoration:underline;
}

h1 {
  float: left;
  clear: left;
  font-weight: bold;
  font-size: 11px;
  letter-spacing: 3px;
  color: #EEEEEE;
  margin: 0px;
  margin-left: 5px;
  padding: 0px;
}
	
h1 a {
  text-decoration: none;
  color: #EEEEEE;
}

h1 a:hover {
  text-decoration:none;
}

.identity {
  float: left;
}

.title {
  font-weight: bold;
  letter-spacing: 1px;
  color: #eeeeee;
}

h3 {
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 1px;
  color: #dddddd;
  text-align: center;
  padding-top: 5px;
}

p {
  font-size: 11px;
}

#navigation {
  background: #333333;
  border-bottom: 1px solid #aaaaaa;
  padding: 3px;
  height: 15px;
}

.menu {
  float: right;
  clear: right;
  text-align: right;
  font-size: 11px;
}

.menu a {
  font-size: 10px;
  padding: 7px 10px;
}
		
.menu a:hover {
  text-decoration: none;
  color: #cccccc;
}

.addcomment {
  float: right;
  clear: right;
}
	
#photo {
  background: #eeeeee;
  padding: 5px;
  border: 1px solid #515151;
}

#image-navigate {
  background: #666666;
  padding: 10px 0 20px 0;
  width: 810px;
  margin: 0px auto;
}
	
#image-navigate a {
  padding: 0;
}

.image-previous {
  float:left;
}

.image-next {
  float:right;
}

#image-info {
  text-align: justify;
  width: 810px;
  padding: 5px 0 20px 0;
  margin: 0px auto;
  color: #eeeeee;
}
	
#image-notes {
  width: 70%;
  vertical-align:top;
}

#image-exif {
  padding-top:10px;
  text-align:right;
  width: 25%;
  vertical-align:top;
}
	
#page {
  background:#515151;
  border: 1px solid #aaaaaa;
  padding: 15px;
  width: 770px;
  margin: 30px auto 0 auto;
  line-height: 16px;
  text-align: left;
}

#page .thumbnail_index {
  text-align: center;
  margin-right: 110px;
}

#page .thumbnail_index img {
  background: #ffffff;
  padding: 5px;
  border: 1px solid #333333;
}

.listing {
  float: right;
  width: 110px;
  padding-top: 5px;
}

td.column {
  width: 50%;
  text-align: left;
  vertical-align: top;
}
	
.thumbnails {
  border:1px solid #515151;
  padding:3px;
  margin:3px;
}

table#comment-meta {
  margin: 20px auto 0 auto;
  width: 90%;
  border-collapse: collapse;
}

td.thumbnail {
  vertical-align: middle;
  text-align: center;
  width: 60%;
}

td.info {
  vertical-align: top;
  text-align: left;
}

td.notes {
  padding: 15px 0 10px 0;
  text-align: left;
}

#comment-top {
  background: #333333;
  border-bottom: 1px solid #aaaaaa;
  padding: 5px;
  height: 15px;
}    

#comments {
  margin: 0px auto;
  width: 95%;
  text-align: left;
}
	
#comments ul {
  list-style-type: none;
  margin: 0px;
  padding: 10px;
}
	
#comments li {
  display: block;
  margin: 0px;
  margin-bottom: 10px;
  color: #eee;
  text-decoration: none;
  padding: 10px;
  border: 1px solid #aaa;
}
	
#comments li a {
  color:#eee;
  text-decoration:none;
}

#comments li a:hover {
  color:#fff;
}
	
#comments li:hover {
  background:#515151;
}

#comment-middle {
  background: #666666;
  border-top: 1px solid #aaaaaa;
  padding: 5px;
  height: 15px;
} 

#addcomment {
  width: 90%;
  text-align: left;
  padding: 10px;
  margin: 0px auto;
  border: 1px solid #aaa;
  background: #515151;
}

.input {
    width:45%;
	font-size:10px;
	border:1px solid #aaa;
	background-color:#666;
	color:#eee;
	padding:5px;
    }
	
#addcomment textarea {
	width:90%;
	height:50px;
	font-size:12px;
	border:1px solid #aaa;
	background-color:#666;
	color:#eee;
	padding:5px;
	}

.comment-button {
  background:#fff;
  border:1px solid #aaa;
  color:#666;
  border-bottom: 2px solid #aaa;
  border-right: 2px solid #aaa;
}

#footer {
  text-align: center;
  margin: 10px 0 15px 0;
}

.clear {
  clear: both;
}
