@import url(http://www.mojavelinux.com/articles/article.css);
h1
{
	background: url(duct-tape.png) no-repeat left;
	padding-left: 88px;
}
pre.code
{
	border-color: #6F6565;
}
hr
{
	border: solid #DDDDDD;
	border-width: 1px 0 0 0;
}
#footer
{
	padding-left: 2px;
	color: #7D7D7D;
}
