@font-face {
  font-family: "edgeicons";
  font-style: normal;
  font-weight: 400;
  src: url(edge-icons-regular.woff);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  color: rgb(20, 23, 26);
  font-family: system-ui, sans-serif;
  font-size: 14px;
  line-height: 20px;
  height: 100vh;
  overflow: hidden;
}

body {
  height: inherit;
  margin: 0;
}

a {
  color: #0083EB;
  text-decoration: none;
}

.root {
  align-items: stretch;
  display: flex;
  height: inherit;
}

.profile {
  padding: 10px 15px;
  flex: none;
  width: 275px;
}

.profile .home a {
  display: inline-block;
  margin: -5px 0 5px -10px;
  padding: 10px;
}

.profile .card {
  align-items: center;
  display: flex;
  font-size: 15px;
  margin-bottom: 10px;
}

.profile .avatar {
  margin-right: 10px;
}

.profile .avatar svg {
  border-radius: 100%;
}

.profile .full-name {
  font-weight: bold;
}

.profile .screen-name {
  color: rgb(101, 119, 134);
}

.profile .stats {
  margin-top: 15px;
  color: rgb(101, 119, 134);
  font-size: 13px;
}

.timeline {
  border-left: 1px solid rgb(204, 214, 221);
  display: flex;
  flex: auto;
}

.timeline h1,
.timeline h2 {
  border-bottom: 1px solid rgb(204, 214, 221);
  font-size: 19px;
  margin: 0;
}

.tweets-container {
  border-right: 1px solid rgb(204, 214, 221);
  display: flex;
  flex-direction: column;
  flex: none;
  width: 600px;
}

.tweets-container h1 {
  flex-grow: 0;
  flex-shrink: 0;
  padding: 20px 10px;
}

h1.focus {
  display: none;
  align-items: center;
}

h1.focus .back {
  display: block;
  font-size: 16px;
  color: inherit;
}

h1.focus .icon-back {
  display: block;
  height: 30px;
  width: 30px;
  margin: -15px 0;
  line-height: 25px;
  border-radius: 1em;
}

h1.focus .icon-back:hover {
  background-color: #e6ecf0;
}

h1.focus .icon-back::before {
  content: "\f114";
  display: block;
  font-family: "edgeicons";
  transform: rotate(180deg);
  width: inherit;
  height: inherit;
  text-align: center;
}

h1.focus span {
  margin-left: 8px;
}

.tweets {
  flex: auto;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

.tweet {
  line-height: 18px;
  padding: 10px 15px;
}

.tweet {
  display: flex;
}

.timeline:has(:target) .tweets .tweet:target {
  display: flex !important;
}

.tweets.filter-by-type[data-type="post"] .tweet:not(.post),
.tweets.filter-by-type[data-type="quote"] .tweet:not(.quote),
.tweets.filter-by-type[data-type="reply"] .tweet:not(.reply),
.tweets.filter-by-content[data-content="media"] .tweet:not(:has(.photos)),
.tweets.filter-by-content[data-content="text"] .tweet:has(.photos),
.timeline:has(:target) .tweets .tweet:not(:target) {
  display: none;
}

.tweet .avatar svg {
  border-radius: 100%;
  height: 48px;
  width: 48px;
}

.tweet .body {
  margin-left: 10px;
}

.tweet .header .full-name {
  font-weight: bold;
}

.tweet .header :not(.full-name) {
  color: #536471;
}

.tweet .text {
  word-wrap: anywhere;
}

.tweet .header .time::before {
  content: "\00b7";
}

.tweet .photos {
  margin-top: 10px;
}

.tweet .photos img,
.tweet .photos video {
  max-width: 100%;
}

.tweet .actions {
  color: #536471;
  margin-top: 10px;
}

.tweet .actions button {
  padding: 0;
  background: none;
  border: none;
  color: inherit;
  font-size: 16px;
  line-height: 12px;
  text-align: left;
  min-width: 80px;
}

.tweet .icon {
  display: inline-block;
  vertical-align: baseline;
}

.tweet .icon-retweet::before {
  content: "\f152";
  display: block;
  font-family: "edgeicons";
}

.tweet .icon-heart::before {
  content: "\f148";
  display: block;
  font-family: "edgeicons";
}

.tweet .count {
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  margin-left: 6px;
  transform: translateY(-2px);
}

.tweet .status {
  color: rgb(101, 119, 134);
}

.search {
  flex: auto;
  padding: 15px 30px;
}

.search .input {
  display: flex;
  align-items: center;
}

.search .icon-hash {
  position: absolute;
  width: 35px;
  line-height: 2em;
  font-size: 20px;
  text-align: right;
  pointer-events: none;
}

.search .icon-hash::before {
  content: "\f052";
  display: inline-block;
  font-family: "edgeicons";
  font-weight: bold;
  color: rgb(101, 119, 134);
}

.search input.tag {
  border: 0;
  background-color: #e6ecf0;
  font-size: 15px;
  padding: 10px 20px 10px 40px;
  border-radius: 2em;
  width: 100%;
  font-family: system-ui, sans-serif;
}

.filters {
  margin-top: 20px;
  border: 1px solid rgb(204, 214, 221);
  border-radius: 1em;
}

.search h2,
.search .fields {
  padding: 10px 15px;
}

.search .fields {
  margin-bottom: 5px;
}

.search h2 {
  display: flex;
  justify-content: space-between;
}

.search .reset {
  font-weight: normal;
  font-size: 0.75em;
}

.search .label {
  font-size: 15px;
  font-weight: bold;
  margin: 10px 0 5px;
}

.search .label:first-child {
  margin-top: 0;
}

.search select {
  background: #e9e9ed;
  border: 1px solid #8f8f9d;
  border-radius: 4px;
  color: inherit;
  font-size: inherit;
  padding-top: 2px;
  padding-bottom: 2px;
}

.timeline:has(:target) h1.focus {
  display: flex;
}

.timeline:has(:target) h1:not(.focus) {
  display: none;
}

.timeline:has(:target) .search {
  opacity: 0.5;
  pointer-events: none;
  user-select: none;
}

::-webkit-scrollbar {
  background-color: #cecece;
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  background-color: #7e8182;
  border: 3px solid transparent;
  border-radius: 12px;
}
