/**
 * Title: Mojavelinux
 * Description: A two column theme using a horizontal navigation and a two 
column layout.  Features a banner
 * graphic just above the main content.
 */

/**
 * CSS Filters:
 *
 * CSS Notes:
 *
 * #1 - The text-align: center style is used so that IE will center the main 
container.
 * #3 - Position must be relative so that it will wrap the floating child 
(either width or position must be set)
 * #4 - For some reason, the padding to the right of content must be doubled 
from the effective amount
 * #5 - IE needs an explicit width set here or else it messes up floating
 * #6 - IE needs this redundancy or else it will try to use the image from the 
list-style
 */

/* always include the scrollbar (mozilla hack) */
html
{
	height: 100%;
	margin-bottom: 1px;
}

/* Primary canvas and inherited page styles  */
body.main
{
	background: #BEBBB0 url(/assets/gfx/lines.png);
	color: #FFFFFF;
	font: 11px/170% Verdana, sans-serif;
	margin: 0;
	padding: 0;
	text-align: center; /* CSS Note #1 */
}
#container
{
	background-color: #F0F0F0;
	margin: 0 auto;
	padding: 0 5px;
	text-align: left;
	width: 740px;
	border: solid #ADAA9D;
	border-width: 0 1px;
}

/* Globally style links */
a:link, a:visited, a:active
{
	text-decoration: none;
}
a:hover
{
	text-decoration: underline;
}

/* The page header includes a title, slogan and logo */
#header
{
	background: #6B220E url(/assets/gfx/tux-dude.gif) no-repeat;
	background-color: #642519;
	height: 40px;
	margin-bottom: 5px;
}
#header h1
{
	margin: 0;
	padding: 0 0 0 45px;
}
#header h1 .sitename
{
	display: block;
	font-size: 16px;
	padding-top: 4px;
}
#header h1 .tagline
{
	display: block;
	position: relative;
	text-transform: uppercase;
	font-size: 9px;
	font-weight: normal;
	letter-spacing: 1px;
	top: -4px;
	left: -4px;
}
#header h1 .tagline:before
{
	content: ".: ";
}
#header h1 .tagline:after
{
	content: " :.";
}
#header h1 .punctuation
{
	display: none;
}

/* The banner provides the section branding, description and primary navigation 
*/
#banner
{
	position: relative; /* CSS Note #3 */
	background-image: url(../pics/banner.jpg);
	background-repeat: no-repeat;
	width: 100%; /* CSS Note #5 */
}
/* IE allows an element after a float clear to have a top margin, moz does not
IE is really messing up the line height on this block
IE is not allowing a box that is floating to have a height */
#banner .description, #banner .feature
{
	float: right;
	background-color: #BEBBB0;
	/*background-color: #babaae; /* for use with desert background */
	margin: 0 0 5px 0;
	width: 190px;
	height: 175px;
	overflow: auto;
}
#banner .description a:link, #banner .description a:visited, #banner 
.description a:active
{
	color: #121000;
}
#banner .description a:hover
{
	color: #121000 !important;
}
#banner .description span
{
	display: block;
	margin: 10px 15px;
	text-align: justify;
}
/* highlight speaking engagement */
#banner .description {
	display: none;
}
#banner .feature {
	background: none;
}
#banner .feature a {
	text-indent: -9999px;
	display: block;
	margin: 0;
	height: 100%;
	background: url(../gfx/seaminaction.png) no-repeat center center / auto 100%;
	-moz-outline: none;
}
/* end highlight speaking engagement */
#navigation
{
	background-color: #121000;
	clear: both;
	line-height: 2.4em;
	margin: 0;
	padding: 0 15px;
}
#navigation a:link, #navigation a:visited, #navigation a:active
{
	color: #F0F0F0;
}
#navigation li
{
	display: inline;
	padding: 0 5px 0 0;
	margin: 0;
	list-style: none;
}
#navigation li+li:before
{
	font-weight: normal;
	content: "|";
	padding-right: 10px; /* CSS Note #4 */
}

#navigation li.selected {
	font-weight: bold;
}

/* The content section contains the meat of the site */
#content
{
	background-color: #28464C;
	float: right;
	padding: 15px 15px 5px 15px;
	margin: 5px 0;
	width: 505px;
	color: #FDFDFD;
}
#content a:link, #content a:visited, #content a:active
{
	color: #CFE4E4;
	border-bottom: 1px dotted #CFE4E4;
}
#content a:hover
{
	text-decoration: none;
	color: #FDFDFD;
	border-bottom: 1px dotted #FDFDFD;
}
#content h2
{
	border-bottom: 1px solid #3E595E;
	font-family: Georgia, Times, serif;
	font-size: 15px;
	padding: 0 0 5px 0;
	margin: 0 0 0 0;
}
#content h2 span
{
	background: url(/assets/gfx/starpost.gif) no-repeat left center;
	padding: 0 0 0 20px;
}
#content h2 a:link, #content h2 a:visited, #content h2 a:active, #content h2 
a:hover
{
	color: #F0F0F0;
	border: 0;
}
#content h2 a:after
{
	content: " \BB";
}
#content h3
{
	font-family: Georgia, Times, sans-serif;
	padding: 0 0 0 0px;
	font-size: 13px;
	margin: 1.5em 0 0 0;
	line-height: 1em;
	text-transform: lowercase;
}
#content h3:before
{
	content: "...";
	letter-spacing: 2px;
	padding-right: 2px;
}
#content h3:after
{
	content: "...";
	letter-spacing: 2px;
	padding-left: 2px;
}
#content h4.date
{
	margin: 0 0 -6px 0;
	font-size: 12px;
	font-family: Georgia, Times, sans-serif;
	color: #BEBBB0;
	/*color: #cfcbbf;*/
	letter-spacing: 4px;
	padding: 4px 0 0 35px;
}
#content .entry
{
	margin-bottom: 2em;
}
#content .entry p
{
	padding-left: 3px;
	padding-right: 5px;
}
#content .entry .meta
{
	text-align: right;
	padding: 2px;
	margin-right: 10px;
	color: #CFCFCF;
	line-height: 1em;
}
#content .entry dl
{
	margin: 0 40px 0 20px;
	padding: 3px 5px;
	border: 1px solid #001E26;
	background-color: #F0F0F0;
	border-color: #C4C4C4;
	color: #444444;
}
#content .entry dt
{
	font-weight: bold;
	font-style: italic;
	float: left;
}
#content .entry dd:before
{
	padding: 0 3px;
	content: "-";
}
#content .entry dd
{
	margin-left: 10px;
}
#content .entry ul {
	list-style-type: square;
}
#content img.avatar
{
	float: right;
	padding: 4px 4px 0 2px;
}
#content img.inline
{
	float: left;
	padding: 0;
	margin: 5px 10px 0 0;
	border: 1px solid #000000;
}
#content #pager
{
	text-align: center;
	margin: 1em 0;
}

/* styles for "feature" pages (portfolio) */
#content dl.feature
{
	clear: left;
}

#content dl.feature dt a 
{
	border: 1px solid #b2afa2 !important;
	padding: 3px;
	margin-right: 12px;
	background-color: #121000;
	display: block;
	float: left;
	margin-bottom: 2.5em;
}

#content dl.feature dt img
{
	vertical-align: bottom;
}

#content dl.feature dd.featurelink
{
	margin-bottom: 1em;
}

/* clear out the inherited h3 stuff */
#content dl.feature dd h3:before,
#content dl.feature dd h3:after
{
	content: "";
}

#content dl.feature dd h3
{
	position: relative;
	left: -2px;
	margin: 0;
	text-transform: none;
}

/* The sidebar holds auxilary links and tools */
#sidebar
{
	background-color: #001E26;
	float: left;
	padding: 10px;
	margin: 5px 0;
	width: 180px;
}
#sidebar a:link, #sidebar a:visited, #sidebar a:active
{
	color: #B1E0DB;
}
#sidebar a:hover
{
	color: #FFFFFF;
}
#sidebar h3
{
	font-size: 11px;
	font-weight: bold;
	padding: 0 0 2px 1px;
	margin: 0;
}
#sidebar h3:after
{
	content: ":";
}
#sidebar ul, #sidebar dl
{
	border-top: 1px dotted #FFFFFF;
	margin: 0 0 10px 0;
	padding: 6px 0 0 0;
}
#sidebar dl
{
	padding: 3px 0 3px 2px;
}
#sidebar li

{
	margin: 0 0 0 20px;
	padding: 0 0 6px 0;
	line-height: 1.3em;
	list-style-image: url(/assets/gfx/bullet.gif);
	text-indent: 0;
	list-style-position: outside;
}
#sidebar dd
{
	display: list-item;
	list-style-position: inside;
	list-style-image: url(/assets/gfx/bullet.gif);
	padding: 0;
	margin: 0;
}
#sidebar .recent li em
{
	color: #BEBBB0;
}
#sidebar .source li strong
{
	font-style: italic;
	font-weight: normal;
}
#sidebar ul.sublist
{
	margin: 4px 0 0 0;
	padding: 0;
	border: none;
}
#sidebar ul.sublist li
{
	list-style: none;
	list-style-image: none;
	padding: 0 0 4px 0;
	margin: 0 0 0 -1px;
}
#sidebar .info li strong
{
	font-style: italic;
	font-variant: small-caps;
	padding-right: 3px;
}
#sidebar .info li strong:after
{
	content: ": ";
	padding-left: 1px;
}
#sidebar ul.search
{
	border-top: 0;
}
#sidebar ul:last-child
{
	margin-bottom: 0;
}
#sidebar .info li, #sidebar .search li, #sidebar .feeds li, #sidebar .ads li
{
	list-style-image: none; /* CSS Note #6 */
	list-style: none;
	margin-left: 4px;
	text-indent: 0;
}
#sidebar .feeds li img
{
	vertical-align: middle;
}
#sidebar input
{
	font: 11px Tahoma, sans-serif;
	line-height: 1em;
}
#sidebar input.text
{
	background-color: transparent;
	border: 1px solid #B1E0DB;
	color: #FFFFFF;
}
#sidebar input.button
{
	background-color: transparent;
	border: 1px solid #B1E0DB;
	color: #FFFFFF;
	font-weight: bold;
}

/* The site footer */
#footer
{
	background-color: #6B220E;
	background-color: #642519;
	clear: both;
	text-align: left;
	margin: 0;
	line-height: 2.5em;
	width: 100%; /* CSS Note #5 */
}
#footer span
{
	padding: 0 10px;
}
#footer a:link, #footer a:visited, #footer a:active
{
	color: #FFFFFF;
	text-decoration: underline;
}
#footer a.admin:link, #footer a.admin:visited, #footer a.admin:active
{
	text-decoration: none;
}

/* Style for a form in the content area */
fieldset
{
	margin: 1.5em 0 1em 0;
	padding: 0;
	border: 0;
}
fieldset.form
{
	margin-left: 5px;
	padding-left: 30px;
	width: 280px;
	background: url(/assets/gfx/form.png) no-repeat;
}
fieldset legend
{
	display: none;
}
fieldset p
{
	margin: .5em 0;
	line-height: 1em;
}
fieldset.headers p
{
	clear: both;
}
fieldset.headers label
{
	display: block;
	float: left;
	width: 60px;
}
fieldset.headers .text
{
	width: 216px;
	padding-left: 2px;
}
fieldset.body textarea
{
	margin-top: .5em;
	padding: 2px 1px;
	width: 276px;
}
fieldset label:after
{
	content: ": ";
}
fieldset label.required:after
{
	content: "*: ";
}
fieldset .question label
{
	width: auto;
	display: inline;
	float: none;
}
fieldset .question label:after
{
	content: " ";
}
fieldset input, fieldset textarea
{
	color: #444444;
	font-size: 11px;
	border-width: 1px;
}
fieldset .button
{
	font-family: Georgia, Times, serif;
	font-weight: bold;
	float: right;
	margin-left: 3px;
	background-color: #F0F0F0;
}
fieldset .inline .button
{
	float: none;
}
fieldset .text
{
	font-family: Arial, sans-serif;
}

/* Various lists of results */
.comment, .result
{
	border-top: 2px solid #3E595E;
	margin-top: 1em;
}
.comment-meta, .result-meta
{
	color: #CFCFCF;
	padding-left: 15px;
	margin: 1em 0 1em 5px;
}
.comment-meta
{
	background: url(/assets/gfx/comment.gif) no-repeat center left;
}
.result-meta
{
	background: url(/assets/gfx/post.gif) no-repeat center left;
}
.comment-body, .result-body
{
	padding-left: 20px;
	padding-right: 4px;
}
.comment-body li
{
	margin-bottom: 1em;
}
dl.archives
{
	margin: 1em 0;
	padding-left: 20px;
}
dl.archives dt
{
	margin: 0 0 2px 0;
	display: list-item;
	list-style-image: url(/assets/gfx/post.gif);
}
dl.archives dd
{
	margin-left: 0;
	margin-bottom: 1em;
}
dl.archives dd em
{
	color: #C4C4C4;
	font-weight: normal;
	font-style: italic;
}


/* General styles */
.hide
{
	display: none;
}
form
{
	padding: 0;
	margin: 0;
}
img
{
	border: none;
}
acronym
{
	border-bottom: 1px dotted inherit;
	cursor: help;
}
blockquote
{
	margin: 1.5em 40px 1.5em 10px;
	padding-left: 25px;
	background: url(/assets/gfx/quote.gif) no-repeat;
}
/* don't style p within blockquote, leave it up to blockquote */
blockquote p
{
	padding: 0 !important;
}

em.underline {
	font-style: normal;
	text-decoration: underline;
}
span.code {
	font-family: monospace;
}
code
{
	display: block;
	background-color: #CFCCC0;
	color: #121000;
	padding: 3px 0 0 3px;
	overflow: auto;
	white-space: pre;
		/* prevent IE from blowing up page flow */
		_width: 490px;
}

code br {
	display: none;
}

pre {
	color: #121000;
	background-color: #CFCCC0;
	overflow: auto;
		/* prevent IE from blowing up page flow */
		_width: 490px;
}

/* Content tables */
table.archive {
	margin: 1em 0;
	border-collapse: collapse;
}

table.archive th, table.archive td {
	padding: 3px 5px;
}

table.archive, table.archive th, table.archive td {
	border: 1px solid #3E595E;
}

table.archive th {
	background-color: #121000;
	color: #f0f0f0;
}

table.archive .actions {
	text-align: center;
}

table.archive .actions a {
	border: none !important;
}

/* project pages */
dl.components dt
{
	font-weight: bold;
}
dl.components dd
{
	margin: 0 30px 1em 20px;
}


/* recommended books page */
dl.books {
	margin-top: 2em;
}

dl.books dt {
	float: left;
	margin-top: 5px;
	margin-right: 10px;
}

dl.books dt a {
	border: 0 !important;
}

dl.books dd {
	margin-left: 0;
}

dl.books cite em {
	display: block;
}

dl.books .summary {
	margin-top: 10px;
	margin-right: 10px;
}

dd.bookend {
	height: 2em;
}

.related li + li.none {
  display: none;
}
