/**
 * html selector + html[xmlns] will do all but opera
 * CSS FILTERS:
 *
 * 1.	No one is agreeing on the margins after a clear.  The clear-after style puts
 * 		in a clear break underneath of the photo block.  The filter uses a default
 *		style to apply to Opera, the star html filter to apply rules to IE and
 *		the 'html[xmlns] selector' filter, which applies only to Mozilla.
 *
 * 2. 	Opera tends to make fonts smaller than mozilla/konq, so set the
 * 		font-size to the desired percentage for mozilla/konq and then use the
 * 		'/property: value' filter to prevent mozilla/konq from using the larger size.
 *
 * 3.	Mozilla uses the W3C standard of aligning images to the baseline.  Override
 * 		this default to bottom using the 'selector[attribute]' filter.
 *
 * 4.	IE just isn't applying the correct margin, whatever crazy way it is using
 *		to calculate it.  Take advantage of the star html bug to apply rule only
 *		to IE browsers.
 *
 * CSS NOTES:
 *
 * 1.	If elements inside of a block are floating, it is necessary that the containing
 * 		box floats as well so that the containing box is filled by its children.
 */
body#photoblog
{
	background: url(../gfx/plywood.jpg);
	color: #112331;
	font-size: .75em;
	font-family: Sans, Verdana, sans-serif;
	margin: 0;
	padding: 0;
}
#container
{
	padding: 5px 5px 5px 35px;
	float: left; /* css note #1 */
}
ul.menu
{
	border: 1px solid #222222;
	border-top: 0;
	background-color: #473C35;
	float: left; /* css note #1 */
	margin: 0;
	padding: 0;
	width: 678px;
	z-index: 100;
	position: relative;
}
ul.menu li
{
	border-right: 1px solid #222222;
	color: #E0E0E0;	
	float: left;
	margin: 0;
	padding: 2px 3px;
	text-align: center;
	list-style-type: none;
	width: 110px;
}
ul.menu a:link, ul.menu a:visited, ul.menu a:active
{
	color: #E0E0E0;
	text-decoration: none;
}
#logo
{
	background: url(../gfx/splash.jpg) no-repeat;
	border: 1px solid #222222;
	clear: both;
	height: 250px;
	position: relative;
	width: 678px;
	z-index: 100;
}
#metadata {}
/* this is a dirty hack! */
#metadata .date
{
	/*
	color: #FFFFFF;
	font-size: 10px;
	font-family: Verdana, sans-serif;
	font-weight: bold;
	position: absolute;
	top: 25px;
	left: 535px;
	*/
	display: none;
}
#maincontent
{
	border-color: #222222;
	border-style: solid;
	border-width: 1px 2px 1px 2px;
	background-color: #F6F6F6;
	float: left;
	margin: -30px 0 0 55px;
	width: 640px;
}
* html #maincontent
{
	margin-left: 30px; /* css filter #4 */
}
#header
{
	padding: 30px 15px 0 10px;
}
#content
{
	padding: 0 15px 5px 10px;
}
#footer
{
	background-color: #473C35;
	border-top: 1px solid #222222;
	color: #E0E0E0;	
	padding: 3px;
	text-align: center;
}
h1
{
	color: #620000;
	text-align: center;
	font-size: 2em;
}
h2
{
	color: #222222;
	text-align: center;
	font-size: 1.5em;
}
#maincontent p
{
	line-height: 1.7em;
}
a:link, a:visited, a:active
{
	color: inherit;
	text-decoration: underline;
}
strong
{
	font-style: normal;
	font-weight: normal;
	text-decoration: underline;
}
acronym
{
	border-bottom: 1px dotted #000000;
	font-style: normal;
	cursor: help;
}
.photo
{
	background-color: #F6F6F6;
	border: 1px solid #424242;
	float: left;
	margin-bottom: -2em; /* css filter #1 */
	margin-top: 1em; /* css filter #1 */
	margin-left: -30px;
	padding: 1px;
	z-index: 100;
	position: relative;
}
* html .photo
{
	margin-left: -27px; /* css filter #4 */
	margin-top: 0; /* css filter #1 */
	margin-bottom: 0; /* css filter #1 */
}
html[xmlns] .photo
{
	margin-top: 0; /* css filter #1 */
	margin-bottom: 1em; /* css filter #1 */
}
.photo .caption
{
	background-color: #323F44;
	color: #B3BBBB;
	font-family: Trebuchet MS, serif;
	margin: 0;
	padding: 3px;
	text-align: center;
}
.photo .caption a:link, .photo .caption a:visited, .photo .caption a:active
{
	color: #B3BBBB;
}
.photo .caption acronym
{
	border-color: #B3BBBB;
}
.photo .image
{
	margin: 0 0 1px 0;
}
.horizontal img
{
	width: 640px;
	height: 480px;
}
.vertical img
{
	width: 480px;
	height: 640px;
}
.next
{
	text-align: right;
	font-weight: bold;
	margin-top: -1em;
	padding-right: 10px;
}
#footer p
{
	line-height: 1em;
	padding: 3px 0;
	margin: 0;
}
img[src]
{
	vertical-align: bottom; /* css filter #3 */
}
.clear-after
{
	clear: both;
}
.legacy
{
	display: none;
}
