/**
 * I don't really like the way the biline works out, since it becomes part of h1 without a stylesheet
 */
body
{
	font: 75% Verdana, sans-serif;
	color: #454545;
	margin: 0;
	padding: 10px 100px 10px 20px;
}
a:link, a:visited, a:active
{
	color: #003399;
	text-decoration: none;
}
a:hover
{
	color: #101010;
	text-decoration: underline;
}
h1
{
	height: 70px;
}
h1 .title
{
	display: block;
	padding-top: 15px;
}
h1 .byline
{
	display: block;
	font-size: 11px;
	font-weight: normal;
}
h2
{
	margin: 1.5em 0 .5em 0;
	padding: 0;
}
p.intro
{
	border: 1px solid #666666;
	background-color: #EEEEEE;
	padding: 5px;
	line-height: 1.7em;
}
p, dt, dd
{
	line-height: 2em;
}
p.footer
{
    border-top: 1px dashed #c0c0c0;
	font-size: .9em;
	padding: 5px 0;
}
dl.toc dt
{
	font-weight: bold;
}
dl.toc dd
{
	margin: 0;
}
span.image
{
	float: right;
	margin: 0;
	padding: 0 0 5px 5px;
}
span.bug
{
/*	background: url(bug.jpg) no-repeat top right;*/
	height: 48px;
	width: 48px;
}
span.halt
{
/*	background: url(hold.png) no-repeat top right;*/
	height: 48px;
	width: 48px;
}
pre
{
	color: #000000;
	white-space: pre;
	font-family: Andale Mono, monospace;
}
pre.code
{
	width: 500px;
	padding: 5px;
	border: 0px solid #454545;
	border-width: 1px 0 0 3px;
}
pre.filename
{
	color: #454545;
	font-weight: bold;
	margin-bottom: -1em;
}
ul.case dt
{
	font-weight: bold;
	display: inline;
}
ul.case dd
{
	display: inline;
	margin-left: 4px;
}
ul.case dt
{
	margin-top: 0;
}
ul.case li
{
	margin-top: 1em;
}
/* put this between li tags in konq to fix a flow problem */
.konq-clear-bug
{
	clear: both;
}
.level-warning
{
	color: blue;
}
.level-fatal
{
	color: red;
}
